#rtd-footer-container {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.tippy-box {
    background-color:var(--pst-color-surface);
    color:var(--pst-color-text-base);
    border: 1px solid var(--pst-color-border);
}
